.idea
node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
app/commons/*.js
app/components/*.js
app/config/*.js
app/models/*.js
app/repostories/*.js
app/services/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
/out